<div class="container-fluid px-0">
  <div class="row mx-0 buildItems">
    <figure class="mb-0">
      <img src="assets/images/banner-img01.jpg" class="w-100" alt="Banner Image">
      <figcaption>
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-md-12">
              <div class="row">
                <div class="col-xs-12 offset-sm-1 col-sm-10 col-md-10">
                  <div class="row mx-0">
                    <form class="w-100">
                      <div class="row formContent">
                        <div class="col-xs-3 offset-sm-1 col-sm-2 col-md-2 d-flex">
                            <i class="fa fa-angle-left themeFontColor bgWhite" aria-hidden="true" (click)="_prev()"></i>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 text-white text-center text-uppercase">
                          <div class="block" [class]="nearest[selectIndex].h1 == near.h1?'active':'d-none'" *ngFor="let near of nearest">
                              <span>{{near.span}}</span>
                              <h1>{{near.h1}}</h1>
                          </div>
                        </div>
                        <div class="col-xs-3 offset-sm-1 col-sm-2 col-md-2 d-flex">
                            <i class="fa fa-angle-right themeFontColor bgWhite" aria-hidden="true" (click)="_next()"></i>
                        </div>
                      </div>
                      <div class="row formSearch">
                        <div class="col-xs-12 col-md-12">
                          <div class="row mt-3">
                            <div class="col-xs-12 col-sm-3 col-md-3 pr-0">
                              <div class="form-group">
                                  <input type="text" class="form-control" placeholder="Search Here" />
                              </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-4 px-0">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Search Here" />
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-4 px-0">
                                <div class="form-group">
                                    <input type="text" class="form-control border-right-0" placeholder="Search Here" />
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-1 col-md-1">
                                <button type="button" class="btn themeBg">
                                    <i class="fa fa-search text-white" aria-hidden="true"></i>
                                </button>
                            </div>
                          </div>
                          <div class="row">
                            Row Content Two
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </figcaption>
    </figure>
    <div class="container"></div>
  </div>
</div>