/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/*@import "https://fonts.googleapis.com/css?family=Montserrat";*/
body{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}
.themeBg{
    background: #0DB26B; 
}
.themeFontColor{
    color: #0DB26B;
}
.bgWhite{
    background: #fff;
}
